# Server Configurations
PORT=5000
NODE_ENV=development

# Database Configurations
# Use 'mongodb://127.0.0.1:27017/smart_leads' for local setup
# Use 'mongodb://mongo:27017/smart_leads' for docker-compose container setup
MONGODB_URI=mongodb://127.0.0.1:27017/smart_leads

# JWT Security Signature Key
JWT_SECRET=super_secret_key_for_smart_leads_dashboard_internship_2026
